<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>


    <logger name="Main$" level="OFF"/>
    <logger name="DirectCopier" level="OFF"/>
    <logger name="streamcomponents.LocateProxyFlow" level="OFF"/>
    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
